/*
* For example only, please remove these when building your own style guide.
*/

.hero {
    background-color: #6f5499;
    color: white;
}


footer {
    background-color: #333;
    color: white;
}
.widget {
    padding:25px;
    background-color: #ededed;
    margin-bottom:16px;
}
/*
* Style guide specific styles only
*/

     Body {
        background-image: none;
        font-size: 16px;
    }
    P {
        line-height:1.7rem;
    }

    /*Styles for code snippet*/
    pre.prettyprint {
        display: block;
        padding: 10px;
        font-size: 12px;
        margin-top: 12px;
        white-space: nowrap;
        overflow: auto;
    }
    pre.prettyprint * {
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    }


/* Swatches */
 .swatches div {
        height: 120px;
        width: 120px;
        display: block;
        text-align: center;
    }

    .swatches .primary {
        background-color: #428bca;
        color: white;
    }

        .swatches .primary.hover {
            background-color: #3071a9;
            color: white;
        }

    .swatches .secondary {
        color: white;
        background-color: #5bc0de;
    }

        .swatches .secondary.hover {
            color: white;
            background-color: #31b0d5;
        }

    .swatches .hero {
        background-color: #6f5499;
        color: white;
    }

    .swatches .dark {
        background-color: #333;
        color: white;
    }




