@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Style Guide Example and Stuff</p>
    <p><a href="/home/styleguide" class="btn btn-primary btn-large">Styleguide</a></p>
</div>

