@{
    ViewBag.Title = "Style Guide";
}
<link href="~/Content/SyleGuide.css" rel="stylesheet" />
<section class="container hero">
    <div class="row">
        <div class="col-sm-12">
            <h1>Style Guide Starter</h1>
            <p>Customize this starter for your website or application.</p>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-sm-8">
            @Html.Partial("~/Views/Shared/StyleGuide/_ColorSwatches.cshtml")
            <hr />
            @Html.Partial("~/Views/Shared/StyleGuide/_Typography.cshtml")
            <hr />
            @Html.Partial("~/Views/Shared/StyleGuide/_Buttons.cshtml")
            <hr />
            @Html.Partial("~/Views/Shared/StyleGuide/_Widget.cshtml")
            <hr />
        </div>
        <div class="col-sm-4">
            <h2>Components</h2>
            <div class="list-group">
                <a href="#colors" class="list-group-item">Colors</a>
                <a href="#typography" class="list-group-item">Typography</a>
                <a href="#buttons" class="list-group-item">Buttons</a>
                <a href="#widget" class="list-group-item">Widget</a>
                <a href="#" class="list-group-item">Add more</a>
                <!-- Customize with your own components like: -->
                <!-- Panes, forms, dialogs, galleries, alerts, cards, etc... -->
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        (function () {
            displayCssInfoFor();
        })();

        // https://gist.github.com/EdCharbeneau/f035747c48943be4337d
        // A simple helper to display the CSS properties of an element at runtime.
        // Use:
        // By defualt, displays the color of the previous sibiling.
        // <span data-properties-for></span>
        // Specify element
        // <span data-properties-for='{"element": "selector"}'></span>
        // Specify properties
        // <span data-properties-for='{"css": "[array of css properties]"}'></span>
        // Specify both
        // <span data-properties-for='{"element": "selector", "css": "[array of css properties]"}'></span>
        function displayCssInfoFor() {
            var selector = "[data-properties-for]";
            var $elems = $(selector);

            $elems.each(function (index, elem) {
                var $displayElem = $(elem);
                var $targetElem = $displayElem.data("properties-for").element || $(elem).prev();
                var styles = $displayElem.data("properties-for").css || ["color"];

                styles.forEach(function (style, i) {
                    var isLast = styles.length - 1 === i;
                    $displayElem.append(style + ": " + $($targetElem).css(style));
                    if (!isLast) $displayElem.append("; ")
                })
            })
        }
    </script>
}