@{
    ViewBag.Title = "Style Guide";
}


@*VIRTUOSO BUNDLES*@
<link href="http://www.virtuoso.com/TouchPoints/Sites/VCom/ContentBundle/base.bundle.css?v=TFqMPbZJYARhUuZUZhnCenuzGeHKPE6ewcs1WT08q281" type="text/css" rel="stylesheet">
<link href="http://www.virtuoso.com/TouchPoints/Sites/VCom/ContentBundle/product-detail.2.0.bundle.css?v=GB4qUREnEVZ6tb8CcsJFeVtzEqBOkwIG9ukEEynrcz41" type="text/css" rel="stylesheet">
<link href="http://www.virtuoso.com/TouchPoints/Sites/VCom/ContentBundle/product-Hotel-detail.bundle.css?v=3cE0t921CDDDu4b5DTuVw-xHmcH7L579Ov7bo4U1nPQ1" type="text/css" rel="stylesheet">
<link href="~/Content/SyleGuide.css" type="text/css" rel="stylesheet">
@*WEB FONT*@
<script type="text/javascript" src="//use.typekit.net/woj4pub.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.7.4/jquery.dotdotdot.min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<section class="container hero">
    <div class="row">
        <div class="col-sm-8">
            <h1>Style Guide Starter</h1>
        </div>
    </div>
</section>

<div class="container_12">

    <div class="row">
        <div class="col-sm-8">
            @Html.Partial("~/Views/Shared/StyleGuide/_Buttons.cshtml")
            <hr />
            @Html.Partial("~/Views/Shared/StyleGuide/_Typography.cshtml")
            <hr />
            @Html.Partial("~/Views/Shared/StyleGuide/_Widget.cshtml")
        </div>

    </div>
</div>
@section scripts {
    <script>
        (function () {
            displayCssInfoFor();
           
        })();

        // https://gist.github.com/EdCharbeneau/f035747c48943be4337d
        // A simple helper to display the CSS properties of an element at runtime.
        // Use:
        // By defualt, displays the color of the previous sibiling.
        // <span data-properties-for></span>
        // Specify element
        // <span data-properties-for='{"element": "selector"}'></span>
        // Specify properties
        // <span data-properties-for='{"css": "[array of css properties]"}'></span>
        // Specify both
        // <span data-properties-for='{"element": "selector", "css": "[array of css properties]"}'></span>
        function displayCssInfoFor() {
            var selector = "[data-properties-for]";
            var $elems = $(selector);

            $elems.each(function (index, elem) {
                var $displayElem = $(elem);
                var $targetElem = $displayElem.data("properties-for").element || $(elem).prev();
                var styles = $displayElem.data("properties-for").css || ["color"];

                styles.forEach(function (style, i) {
                    var isLast = styles.length - 1 === i;
                    $displayElem.append(style + ": " + $($targetElem).css(style));
                    if (!isLast) $displayElem.append("; ")
                })
            })
        }

    </script>
}