@{
    ViewBag.Title = "Style Guide";
}
<link href="http://www.virtuoso.com/TouchPoints/Sites/VCom/ContentBundle/base.bundle.css?v=TFqMPbZJYARhUuZUZhnCenuzGeHKPE6ewcs1WT08q281" type="text/css" rel="stylesheet"></link>


<link href="http://www.virtuoso.com/TouchPoints/Sites/VCom/ContentBundle/product-detail.2.0.bundle.css?v=GB4qUREnEVZ6tb8CcsJFeVtzEqBOkwIG9ukEEynrcz41" type="text/css" rel="stylesheet"></link>

<link href="http://www.virtuoso.com/TouchPoints/Sites/VCom/ContentBundle/product-Hotel-detail.bundle.css?v=3cE0t921CDDDu4b5DTuVw-xHmcH7L579Ov7bo4U1nPQ1" type="text/css" rel="stylesheet"></link>
<style>
    Body {
        background-image:none;
        font-size: 16px;
    }
    P {
        line-height:1.7rem;
    }
    pre {
        clear:both;
        padding:10px;
        font-family: "Courier New";
        font-size: 12px;
        margin-top: 10px;

    }
</style>

<script type="text/javascript" src="//use.typekit.net/woj4pub.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<script type="text/javascript">
    // Load jQuery from local server if CDN is down.
    if (typeof jQuery == 'undefined') {
        var e = document.createElement('script');
        e.src = '/TouchPoints/Sites/VCom/Scripts/jquery-1.8.3.js';
        e.type = 'text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);

        e = document.createElement('script');
        e.src = '/TouchPoints/Sites/VCom/Scripts/jquery-ui/jquery-ui-1.9.2.js';
        e.type = 'text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);
    }
</script>






<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<section class="container hero">
    <div class="row">
        <div class="col-sm-12">
            <h1>Style Guide Starter</h1>
            <p>Customize this starter for your website or application.</p>
        </div>
    </div>
</section>

<div class="container_12">

    <div class="row">
        <div class="col-sm-8">
            @Html.Partial("~/Views/Shared/StyleGuide/_Buttons.cshtml")
            <hr />
            @Html.Partial("~/Views/Shared/StyleGuide/_Typography.cshtml")
        </div>

    </div>
</div>
@section scripts {
    <script>
        $(function () {
        /*    escapeHtml();*/
        });
        (function () {
            displayCssInfoFor();
           
        })();

        // https://gist.github.com/EdCharbeneau/f035747c48943be4337d
        // A simple helper to display the CSS properties of an element at runtime.
        // Use:
        // By defualt, displays the color of the previous sibiling.
        // <span data-properties-for></span>
        // Specify element
        // <span data-properties-for='{"element": "selector"}'></span>
        // Specify properties
        // <span data-properties-for='{"css": "[array of css properties]"}'></span>
        // Specify both
        // <span data-properties-for='{"element": "selector", "css": "[array of css properties]"}'></span>
        function displayCssInfoFor() {
            var selector = "[data-properties-for]";
            var $elems = $(selector);

            $elems.each(function (index, elem) {
                var $displayElem = $(elem);
                var $targetElem = $displayElem.data("properties-for").element || $(elem).prev();
                var styles = $displayElem.data("properties-for").css || ["color"];

                styles.forEach(function (style, i) {
                    var isLast = styles.length - 1 === i;
                    $displayElem.append(style + ": " + $($targetElem).css(style));
                    if (!isLast) $displayElem.append("; ")
                })
            })
        }

        var escapeHtml = function () {
            $('.code').each(function () {
                var codeContent = $(this).text();

                $('<pre/>')
                  .appendTo(this)
                  .text(codeContent)
                  .addClass('prettyprint lang-html');
            });
        };
    </script>
}