@using mvc_styleguide.Models.Interfaces

@helper editingButtons (IButton model) {
    <div class="grid_12 topBuffer finish-editing-controls clearfix">
        @if(model.hasDeleteBtn) {
            <input type="button" class="delete-edit" id="@String.Format("delete-{0}", model.buttonID)" value="Delete Product">
        }
        <button class="save-edit" id="@String.Format("saveBtn-{0}", model.buttonID)">@String.Format(model.Title)</button>
        <button class="cancel-edit" id="@String.Format("cancelBtn-{0}", model.buttonID)">Cancel</button>
    </div>
}}

@helper iconButton(IButton model) { 
    <button class="add-button">Add</button>
}}


