@using mvc_styleguide.Models.Interfaces

@helper editingButtons (IButton model) {
    <div class="grid_12 topBuffer finish-editing-controls clearfix">
        @if(model.hasDeleteBtn) {
            <input type="button" class="delete-edit"  value="Delete Product">
        }
        <button class="save-edit">@String.Format(model.Title)</button>
        <button  class="cancel-edit">Cancel</button>
    </div>
}}


@helper editingButtonsWithDelete(IButton model)
{
    <div class="grid_12 topBuffer finish-editing-controls clearfix">
        
        <button class="save-edit">@String.Format(model.Title)</button>
        <button class="cancel-edit">Cancel</button>
    </div>
}}