@using Prototyping.Ipsum
@using Prototyping.Placeholdit
@using mvc_styleguide.Models;

<h2>Buttons</h2>
<section id="buttons">
    @buttons.editingButtons(new MyModel() { Title = "Super Title III", buttonID = "packagesExample" })
    <pre class="prettyprint">
        @@buttons.editingButtons(new MyModel() { Title = "Super Title III", buttonID = "packagesExample" })
    </pre>
  
    @buttons.editingButtons(new MyModel() { Title = "Save Button Two", hasDeleteBtn = true, buttonID = "packagesExample" })

    <pre class="prettyprint">
        @@buttons.editingButtons(new MyModel() { Title = "Save Button Two", hasDeleteBtn = true, buttonID = "packagesExample"  })
    </pre>

    <div id="advisorContactButtons" class="btn-cta">
        <a href="/advisors/">Book with a Travel Advisor</a>
    </div>
</section>
