<h2>Color Swatches</h2>
<section id="swatches">
    <ul class="list-inline">
        <li class="swatches">
            <div class="primary">primary</div>
            <div class="primary hover">hover</div>
            <div class="hero">hero</div>
        </li>
        <li class="swatches">
            <div class="secondary ">secondary</div>
            <div class="secondary hover">hover</div>
            <div class="dark">dark</div>
        </li>
        <li class="swatches">
            <div class="alert-danger">danger</div>
            <div class="alert-warning">warning</div>
            <div class="alert-success">success</div>
        </li>
    </ul>
</section>

