@using Prototyping.Ipsum
@using Prototyping.Placeholdit
@using mvc_styleguide.Models;

<h2>Truncation</h2>
<section id="widget">
    @widget.truncate(new MyModel() {truncateHeight = "40" , TruncateText = " kasldjf  sdkfj asd; flasdkfj;kdsajfasd jak dksdj fasdj kljdks kasldjf  sdkfj asd; flasdkfj;kdsajfasd jak dksdj fasdj kljdks" })
</section>